@import url('https://fonts.googleapis.com/css?family=Assistant:400,700');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  overflow: hidden;
  direction: ltr;
  font-size: 16px;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased !important;

}

* {
  font-family: 'Raleway', 'Amatica SC', 'Open Sans Condensed', 'Helvetica', sans-serif;
}

.frow {
  display: flex;
  flex-direction: row;
}

.fcol {
  display: flex;
  flex-direction: column;
}

.sb {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.fend {
  align-items: end;
}
