@import url('https://fonts.googleapis.com/css?family=Assistant:400,700');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '../css/colors';

/*********************************
              global
 *********************************/

html,
body {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  overflow: hidden;
  direction: ltr;
  font-size: 16px;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased !important;

}

* {
  font-family: 'Raleway', 'Amatica SC', 'Open Sans Condensed', 'Helvetica', sans-serif;
}

/*********************************
              layout
 *********************************/

.frow {
  display: flex;
  flex-direction: row;
}

.fcol {
  display: flex;
  flex-direction: column;
}

.sb {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.fend {
  align-items: end;
}

.fgrow-1 {
  flex-grow: 1;
}

.fgrow-2 {
  flex-grow: 2;
}

.fgrow-3 {
  flex-grow: 3;
}

.fgrow-4 {
  flex-grow: 4;
}

.fgrow-5 {
  flex-grow: 5;
}

/*********************************
              icons
 *********************************/

.small-icon {
  height: 18px !important;
  width: 18px !important;
}

/*********************************
              buttons
 *********************************/

.submit-button {
  background-color: var(--cool-green);
  border: none;
  box-shadow: 0 1px 0 var(--light-blue-grey);
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: 22px;
  margin: 8px 4px 0 0;
  padding: 5px 8px 5px 8px;
  color: var(--white);
  outline: none;
  text-align: center;

  &:disabled {
    background-color: var(--pale-grey);
    color: var(--light-blue-grey);
    box-shadow: none;
  }
}

.clickable {
  cursor: pointer;
}

.link {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.btn-s {
  width: 55px;
  max-width: 55px;
}