@import url('https://fonts.googleapis.com/css?family=Assistant:400,700');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  overflow: hidden;
  direction: ltr;
  font-size: 16px;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased !important;

}

* {
  font-family: 'Raleway', 'Amatica SC', 'Open Sans Condensed', 'Helvetica', sans-serif;
}

.frow {
  display: flex;
  flex-direction: row;
}

.fcol {
  display: flex;
  flex-direction: column;
}

.sb {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.fend {
  align-items: end;
}

.fgrow-1 {
  flex-grow: 1;
}

.fgrow-2 {
  flex-grow: 2;
}

.fgrow-3 {
  flex-grow: 3;
}

.fgrow-4 {
  flex-grow: 4;
}

.fgrow-5 {
  flex-grow: 4;
}

.clickable {
  cursor: pointer;
}

.link {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.small-icon {
  height: 18px !important;
  width: 18px !important;;
}
