@import "../../../../css/colors";

.board-page-container {
  background-color: var(--dark-sky-blue);
  height: 100%;
}

.board-title-section {
  padding: 0 20px;
  color: var(--white);
}

.decks-container {

}