@import "../../../../css/colors";

.card {
  width: 250px;
  min-height: 30px;
  background-color: var(--white-two);
  box-shadow: 0 1px 0 var(--bluey-grey);
  border-radius: 3px;
  padding: 4px 4px 0 6px;
  margin-bottom: 6px;
  margin-left: 5px;
  cursor: pointer;

  &:hover {
    background-color: var(--pale-grey);
  }
}
