@import "../../../../css/colors";

.comment-container {
  margin-top: 10px;

  textarea {
    border: none;
    outline: none;
    resize: none;
    word-wrap: break-word;
    overflow: hidden;
  }
}

.comment-editor-container {
  background: var(--white);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .33);
  height: 55px;
  min-height: 55px;
  margin: 0;
  padding: 9px 11px 0;
  width: 100%;
  resize: none;
  border-radius: 3px;
}

.comment-avatar {
  margin: 0 10px 0 10px;
}